.col-md-3{background:#E8E8E8;}
.col-md-8{background: #E8E8E8;}
hr{height: 2px; background: #888888}
#Businesscooperation {padding-top: 120px; padding-bottom:50px;}
#Businesscooperation .col-md-3,.col-md-8{border-radius: 10px;}